<ion-content class="bet-view">
    <div class="row text-center">
        <div class="col title-no">色波/豹子/包三</div>
    </div>
    <!--<div class="row text-center"><div class="col title-no">色波/豹子/包三</div></div>-->
    <div class="row">
        <div class="col col-50 bet ok" data-id="301"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="302"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="303"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="304"><div class="bet-content">豹子</div><div class="bet-item">--</div></div>
    </div>

</ion-content>