<ion-view class="m-register" view-title="注册">
	<ion-nav-buttons side="left"><a class="button button-icon icon-prepage" ng-click="back();"></a></ion-nav-buttons>
	<ion-content class="padding" delegate-handle="regScroll">
		<form role="form" name="regForm" class="form-horizontal" novalidate>
		<div class="list list-inset list-theme">
			<p>为了您的资金安全，请使用真实资料</p>
			<div ng-if="step==1">
				<div class="item item-input nopadding border-theme input-images input-name">
					<input class="reset-field" type="text" name="username" ng-model="regData.username" placeholder="帐号" ng-keyup="resetCheck();" ng-blur="checkUserName()" ng-pattern="/^[A-Za-z0-9]+$/" ng-minlength="5" ng-maxlength="15" required />
				</div>
				<p class="item-warn text-light" ng-if="!regForm.username.$touched">*请使用5-15位英文或数字的组合</p>
				<p class="item-warn text-assertive" ng-if="regForm.username.$touched && regForm.username.$invalid" >*请使用5-15位英文或数字的组合</p>
				<p class="item-warn text-light" ng-if="!usernameExist&&regForm.username.$touched && regForm.username.$valid" style="color:green;">*该账号可用</p>
				<p class="item-warn text-assertive" ng-if="usernameExist">*该账号已被注册，不可用</p>

				<div class="item item-input nopadding border-theme input-images input-name">
					<input class="reset-field" type="text" name="fullName" ng-model="regData.fullName" placeholder="真实姓名" ng-keyup="checkFullName();" ng-blur="checkFullName();" required />
				</div>
				<p class="item-warn text-light" ng-class="(regForm.fullName.$touched && !fullNameIsOk) ? 'text-assertive' : 'text-light'">*请输入真实姓名[2~5个汉字]</p>
				
				<div class="item item-input nopadding border-theme input-images input-pwd">
					<input class="password-eye" type="password" name="password" ng-model="regData.password" placeholder="密码" ng-minlength="6" ng-maxlength="20" required />
				</div>
				<p class="item-warn text-light" ng-class="(regForm.password.$touched && regForm.password.$invalid) ? 'text-assertive' : 'text-light'">*请使用6-20位字符</p>

				<div class="item item-input nopadding border-theme input-images input-pwd">
					<input class="password-eye" type="password" name="passwordRpt" ng-model="regData.passwordRpt" placeholder="确认密码" ng-minlength="6" ng-maxlength="20" required />
				</div>
				<p class="item-warn text-assertive" ng-show="(regForm.passwordRpt.$touched&&regData.passwordRpt!=regData.password)">*密码不一致</p>

				<button type="button" ng-disabled="usernameExist || regForm.password.$invalid || regData.passwordRpt!=regData.password || !fullNameIsOk" class="button button-block button-positive" ng-click="setStep(2);">下一步</button>
			</div>
			
			<div ng-if="step==2">
				<!-- <div class="item item-input nopadding border-theme select-item">
					<span class="text-label">取款密码</span>
					<div class="row sel-wrap">
						<select id="paypasswd" class="col col-25" ng-model="regData.fundPwd1" style="border-right: solid 1px #fff; "> <option value="0">0</option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> </select> 
						<select id="paypasswd" class="col col-25" ng-model="regData.fundPwd2" style="border-right: solid 1px #fff; "> <option value="0">0</option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> </select> 
						<select id="paypasswd" class="col col-25" ng-model="regData.fundPwd3" style="border-right: solid 1px #fff; "> <option value="0">0</option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> </select> 
						<select id="paypasswd" class="col col-25" ng-model="regData.fundPwd4"> <option value="0">0</option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> </select>
					</div> 
				</div> -->
				<div class="item item-input nopadding border-theme input-images input-pwd">
					<input class="password-eye" type="password" name="fundPwd" ng-model="regData.fundPwd" placeholder="取款密码" ng-minlength="6" ng-maxlength="6" maxlength="6" ng-pattern="/^\d+$/" required />
				</div>
				<p class="item-warn text-light" ng-class="(regForm.fundPwd.$touched && regForm.fundPwd.$invalid) ? 'text-assertive' : 'text-light'">*请使用6位数字</p>

				<div class="item item-input nopadding border-theme input-images input-pwd">
					<input class="password-eye" type="password" name="fundPwdRpt" ng-model="regData.fundPwdRpt" placeholder="确认取款密码" ng-minlength="6" ng-maxlength="6" maxlength="6" required />
				</div>
				<p class="item-warn text-assertive" ng-show="(regForm.fundPwdRpt.$touched&&regData.fundPwdRpt!=regData.fundPwd)">*密码不一致</p>
				<div class="item item-input nopadding border-theme input-images input-email" ng-if="config.qq">
					<!-- <input class="reset-field" type="email" name="email" required placeholder="邮箱或QQ号码" ng-model="regData.email" ng-maxlength="25" ng-pattern="/^(([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?))|[1-9]\d{4,9}$/" /> -->
					<input class="reset-field" type="text" name="email" required placeholder="邮箱或QQ号码" ng-model="regData.email" ng-maxlength="25" ng-pattern="/^(([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?))|[1-9]\d{4,9}$/" />
				</div>
				<p class="item-warn text-light" ng-class="(regForm.email.$touched && regForm.email.$invalid) ? 'text-assertive' : 'text-light'" ng-if="config.qq">*请输入正确的邮箱地址或QQ号码</p>

				<div class="item item-input nopadding border-theme input-images input-pwd" ng-if="config.tel">
					<input class="reset-field" type="text" name="tel" required placeholder="手机号码" ng-model="regData.tel" ng-maxlength="13" ng-pattern="/^\d{6,13}$/" />
				</div>
				<p class="item-warn text-light" ng-class="(regForm.tel.$touched && regForm.tel.$invalid) ? 'text-assertive' : 'text-light'" ng-if="config.tel">*请输入正确的手机号码</p>

				<div class="item item-input nopadding border-theme input-images input-pwd" ng-if="config.question">
					<div class="select-icon-pwd"></div>
					<select name="ask" ng-model="regData.ask">
						<option value="" selected="selected">请选择安全问题</option>
						<option value="您的车牌号码是多少？">您的车牌号码是多少？</option>
						<option value="您初中同桌的名字？">您初中同桌的名字？</option>
						<option value="您就读的第一所学校的名称？">您就读的第一所学校的名称？</option>
						<option value="您第一次亲吻的对象是谁？">您第一次亲吻的对象是谁？</option>
						<option value="少年时代心目中的英雄是谁？">少年时代心目中的英雄是谁？</option>
						<option value="您最喜欢的休闲运动是什么？">您最喜欢的休闲运动是什么？</option>
						<option value="您最喜欢哪支运动队？">您最喜欢哪支运动队？</option>
						<option value="您最喜欢的运动员是谁？">您最喜欢的运动员是谁？</option>
						<option value="您的第一辆车是什么牌子？">您的第一辆车是什么牌子？</option>
						<option value="Other">自定义安全问题</option>
					</select>
				</div>
				<div class="item item-input nopadding border-theme input-images input-pwd" ng-if="config.question&&regData.ask=='Other'">
					<input class="reset-field" type="text" name="askOther" required placeholder="自定义安全问题" ng-model="regData.askOther" ng-maxlength="20" />
				</div>
				<p class="item-warn text-light" ng-class="(regForm.askOther.$touched && regForm.askOther.$invalid) ? 'text-assertive' : 'text-light'" ng-if="config.question&&regData.ask=='Other'">*请输入自定义安全问题</p>
				<div class="item item-input nopadding border-theme input-images input-pwd" ng-if="config.question">
					<input class="reset-field" type="text" name="question" required placeholder="安全问题答案" ng-model="regData.question" ng-maxlength="20" />
				</div>
				<p class="item-warn text-light" ng-class="(regForm.question.$touched && regForm.question.$invalid) ? 'text-assertive' : 'text-light'" ng-if="config.question">*请输入安全问题答案</p>
				
				<div class="item item-input nopadding border-theme input-images input-pwd" ng-if="config.wechat">
					<input class="reset-field" type="text" name="wechat" required placeholder="微信账号" ng-model="regData.wechat" ng-maxlength="20" ng-pattern="/^[A-Za-z0-9]+$/" />
				</div>
				<p class="item-warn text-light" ng-class="(regForm.wechat.$touched && regForm.wechat.$invalid) ? 'text-assertive' : 'text-light'" ng-if="config.wechat">*请输入微信账号</p>
				
				<div class="item item-input nopadding border-theme input-images input-checkcode">
					<input class="validcode-field" ng-model="regData.vcode" placeholder="验证码" name="vcode" type="text" required />
				</div>
				
				<button type="submit" ng-disabled="usernameExist || regForm.$invalid" class="button button-block button-positive" ng-click="reg();">注册</button>
			</div>
			
			<div class="row">
				<div class="col text-center"><p>已有帐号？<a href="#/login">马上登录</a></p></div>
			</div>
		</div>  
		
		</form>
	</ion-content>
</ion-view>