<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">百位</div></div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="601" data-pane="bw"><div class="bet-content">单</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="602" data-pane="bw"><div class="bet-content">双</div><div class="bet-item">--</div></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="603" data-pane="bw"><div class="bet-content">大</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="604" data-pane="bw"><div class="bet-content">小</div><div class="bet-item">--</div></div>
    </div>
    <div class="row text-center"><div class="col title-no">十位</div></div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="501" data-pane="sw"><div class="bet-content">单</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="502" data-pane="sw"><div class="bet-content">双</div><div class="bet-item">--</div></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="503" data-pane="sw"><div class="bet-content">大</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="504" data-pane="sw"><div class="bet-content">小</div><div class="bet-item">--</div></div>
    </div>
    <div class="row text-center"><div class="col title-no">个位</div></div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="401" data-pane="gw"><div class="bet-content">单</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="402" data-pane="gw"><div class="bet-content">双</div><div class="bet-item">--</div></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="403" data-pane="gw"><div class="bet-content">大</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="404" data-pane="gw"><div class="bet-content">小</div><div class="bet-item">--</div></div>
    </div>
    <div class="row text-center"><div class="col title-no">和值</div></div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="829" data-pane="hz"><div class="bet-content">单</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="830" data-pane="hz"><div class="bet-content">双</div><div class="bet-item">--</div></div>
    </div>
    <div class="row end">
        <div class="col col-50 bet ok" data-id="831" data-pane="hz"><div class="bet-content">大</div><div class="bet-item">--</div></div>
        <div class="col col-50 bet ok" data-id="832" data-pane="hz"><div class="bet-content">小</div><div class="bet-item">--</div></div>
    </div>
</ion-content>