<ion-content class="bet-view" data-pan="21">
	<div class="row text-center"><div class="col title-no">半波</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2101"><div class="bet-content">红单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2102"><div class="bet-content">红双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2103"><div class="bet-content">红大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2104"><div class="bet-content">红小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2105"><div class="bet-content">绿单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2106"><div class="bet-content">绿双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2107"><div class="bet-content">绿大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2108"><div class="bet-content">绿小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2109"><div class="bet-content">蓝单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2110"><div class="bet-content">蓝双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2111"><div class="bet-content">蓝大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2112"><div class="bet-content">蓝小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2113"><div class="bet-content">红合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2114"><div class="bet-content">红合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2115"><div class="bet-content">绿合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2116"><div class="bet-content">绿合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="2117"><div class="bet-content">蓝合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2118"><div class="bet-content">蓝合双</div><div class="bet-item">--</div></div>
	</div>
</ion-content>