<ion-content class="bet-view" scroll="false" data-pan="15" data-min="2" data-max="8">
	<div class="sub-Navs">
		<div class="nav-content">
			<ion-content class="bp40">
				<div class="row text-center"><div class="col title-no">正码1</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1501" data-once="15ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1502" data-once="15ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1503" data-once="15dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1504" data-once="15dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="1505" data-once="15rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1506" data-once="15rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1507" data-once="15rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码2</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1601" data-once="16ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1602" data-once="16ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1603" data-once="16dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1604" data-once="16dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="1605" data-once="16rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1606" data-once="16rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1607" data-once="16rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码3</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1701" data-once="17ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1702" data-once="17ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1703" data-once="17dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1704" data-once="17dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="1705" data-once="17rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1706" data-once="17rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1707" data-once="17rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码4</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1801" data-once="18ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1802" data-once="18ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1803" data-once="18dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1804" data-once="18dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="1805" data-once="18rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1806" data-once="18rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1807" data-once="18rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码5</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1901" data-once="19ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1902" data-once="19ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1903" data-once="19dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1904" data-once="19dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="1905" data-once="19rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1906" data-once="19rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1907" data-once="19rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码6</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="2001" data-once="20ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="2002" data-once="20ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="2003" data-once="20dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="2004" data-once="20dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row end">
					<div class="col col-33 bet ok" data-id="2005" data-once="20rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2006" data-once="20rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2007" data-once="20rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
			</ion-content>
		</div>
		<div class="row text-center tips">
			<div class="col sub-col navActive"><a class="item nav-item">{{betData.betContent.length>1?curTips:'请选择过关项目'}}</a></div>
		</div>
	</div>
</ion-content>