<ion-content class="bet-view" scroll="false" data-pan="25" data-min="2" data-max="8">
	<div class="sub-Navs" item-class="col-33">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs">
			<div class="row">
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==25||curGame.panType==29}" data-pan="25" data-min="2" data-max="8"><a class="item nav-item">二肖连</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==26||curGame.panType==30}" data-pan="26" data-min="3" data-max="8"><a class="item nav-item">三肖连</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==27||curGame.panType==31}" data-pan="27" data-min="4" data-max="8"><a class="item nav-item">四肖连</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==28}" data-pan="28" data-min="5" data-max="8"><a class="item nav-item">五肖连</a></div>
			</div>
		</ion-scroll>
		<div class="nav-content">
			<ion-content class="tp40" scroll="false" ng-show="curGame.panType==25||curGame.panType==29">
				<div class="sub-Navs" item-class="col-50">
					<div class="row">
						<div class="col sub-col col-50" ng-class="{navActive:curGame.panType==25}" data-subPan="25"><a class="item nav-item">中</a></div>
						<div class="col sub-col col-50" ng-class="{navActive:curGame.panType==29}" data-subPan="29"><a class="item nav-item">不中</a></div>
					</div>
					<div class="nav-content">
						<ion-content class="tp40">
							<div ng-show="curGame.panType==25">
								<div class="row text-center"><div class="col title-no">二肖连中</div></div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2501"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2502"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2503"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2504"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2505"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2506"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2507"><div class="bet-content">马</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2508"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2509"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
								</div>
								<div class="row end">
									<div class="col col-33 bet ok" data-id="2510"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2511"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2512"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
								</div>
							</div>
							<div ng-show="curGame.panType==29">
								<div class="row text-center"><div class="col title-no">二肖连不中</div></div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2901"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2902"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2903"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2904"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2905"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2906"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2907"><div class="bet-content">马</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2908"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2909"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
								</div>
								<div class="row end">
									<div class="col col-33 bet ok" data-id="2910"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2911"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2912"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
								</div>
							</div>
						</ion-content>
					</div>
				</div>
			</ion-content>
			<ion-content class="tp40" scroll="false" ng-show="curGame.panType==26||curGame.panType==30">
				<div class="sub-Navs" item-class="col-50">
					<div class="row">
						<div class="col sub-col col-50" ng-class="{navActive:curGame.panType==26}" data-subPan="26"><a class="item nav-item">中</a></div>
						<div class="col sub-col col-50" ng-class="{navActive:curGame.panType==30}" data-subPan="30"><a class="item nav-item">不中</a></div>
					</div>
					<div class="nav-content">
						<ion-content class="tp40">
							<div ng-show="curGame.panType==26">
								<div class="row text-center"><div class="col title-no">三肖连中</div></div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2601"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2602"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2603"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2604"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2605"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2606"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2607"><div class="bet-content">马</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2608"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2609"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
								</div>
								<div class="row end">
									<div class="col col-33 bet ok" data-id="2610"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2611"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2612"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
								</div>
							</div>
							<div ng-show="curGame.panType==30">
								<div class="row text-center"><div class="col title-no">三肖连不中</div></div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="3001"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3002"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3003"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="3004"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3005"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3006"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="3007"><div class="bet-content">马</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3008"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3009"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
								</div>
								<div class="row end">
									<div class="col col-33 bet ok" data-id="3010"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3011"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3012"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
								</div>
							</div>
						</ion-content>
					</div>
				</div>
			</ion-content>
			<ion-content class="tp40" scroll="false" ng-show="curGame.panType==27||curGame.panType==31">
				<div class="sub-Navs" item-class="col-50">
					<div class="row">
						<div class="col sub-col col-50" ng-class="{navActive:curGame.panType==27}" data-subPan="27"><a class="item nav-item">中</a></div>
						<div class="col sub-col col-50" ng-class="{navActive:curGame.panType==31}" data-subPan="31"><a class="item nav-item">不中</a></div>
					</div>
					<div class="nav-content">
						<ion-content class="tp40">
							<div ng-show="curGame.panType==27">
								<div class="row text-center"><div class="col title-no">四肖连中</div></div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2701"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2702"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2703"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2704"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2705"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2706"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="2707"><div class="bet-content">马</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2708"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2709"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
								</div>
								<div class="row end">
									<div class="col col-33 bet ok" data-id="2710"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2711"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="2712"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
								</div>
							</div>
							<div ng-show="curGame.panType==31">
								<div class="row text-center"><div class="col title-no">四肖连不中</div></div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="3101"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3102"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3103"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="3104"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3105"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3106"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
								</div>
								<div class="row">
									<div class="col col-33 bet ok" data-id="3107"><div class="bet-content">马</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3108"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3109"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
								</div>
								<div class="row end">
									<div class="col col-33 bet ok" data-id="3110"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3111"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
									<div class="col col-33 bet ok" data-id="3112"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
								</div>
							</div>
						</ion-content>
					</div>
				</div>
			</ion-content>
			<ion-content class="tp40" ng-show="curGame.panType==28">
				<div class="row text-center"><div class="col title-no">五肖连中</div></div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="2801"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2802"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2803"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="2804"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2805"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2806"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="2807"><div class="bet-content">马</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2808"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2809"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
				</div>
				<div class="row end">
					<div class="col col-33 bet ok" data-id="2810"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2811"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2812"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
				</div>
			</ion-content>
		</div>
	</div>
</ion-content>