<ion-content class="bet-view" data-pan="23">
	<div class="row text-center"><div class="col title-no">尾数</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2301"><div class="bet-content">0尾</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2302"><div class="bet-content">1尾</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2303"><div class="bet-content">2尾</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2304"><div class="bet-content">3尾</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2305"><div class="bet-content">4尾</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2306"><div class="bet-content">5尾</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="2307"><div class="bet-content">6尾</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2308"><div class="bet-content">7尾</div><div class="bet-item">--</div></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="2309"><div class="bet-content">8尾</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="2310"><div class="bet-content">9尾</div><div class="bet-item">--</div></div>
	</div>
</ion-content>