<ion-content class="bet-view" data-pan="22">
	<div class="row text-center"><div class="col title-no">一肖</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="2201"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="2202"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="2203"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="2204"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="2205"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="2206"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="2207"><div class="bet-content">马</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="2208"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="2209"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
	</div>
	<div class="row end">
		<div class="col col-33 bet ok" data-id="2210"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="2211"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="2212"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
	</div>
</ion-content>