<ion-content class="bet-view">
    <div class="row text-center">
        <div class="col title-no">二同号复选</div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="3011">
            <div class="bet-content" style="width: 100%">
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-1">1</span>
            </div>
            <span class="bet-item">--</span>
        </div>
        <div class="col col-50 bet ok" data-id="3012">
            <div class="bet-content" style="width: 100%">
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-2">2</span>

            </div>
            <span class="bet-item">--</span></div>

    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="3013">
            <div class="bet-content" style="width: 100%">
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-3">3</span>
            </div>
            <span class="bet-item">--</span>
        </div>

        <div class="col col-50 bet ok" data-id="3014">
            <div class="bet-content" style="width: 100%">
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-4">4</span>
            </div>
            <span class="bet-item">--</span>
        </div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="3015">
            <div class="bet-content" style="width: 100%">
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-5">5</span>
            </div>
            <span class="bet-item">--</span>
        </div>
        <div class="col col-50 bet ok" data-id="3016">
            <div class="bet-content" style="width: 100%">
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-6">6</span>
            </div>
            <span class="bet-item">--</span>
        </div>

    </div>


</ion-content>