<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">三连号</div></div>

    <div class="row">
        <div class="col col-99 bet ok" data-id="301">
            <div class="bet-content">
                <span class="round-3 blue">123</span>
                <span class="round-3 blue">234</span>
                <span class="round-3 blue">345</span>
                <span class="round-3 blue">456</span>
            </div>
            <span class="bet-item">--</span>
        </div>
    </div>

</ion-content>