<ion-content class="bet-view">
    <div class="row text-center">
        <div class="col title-no">三连号单选</div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="4021">
            <span class="bet-content" style="width: 100%">
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-3">3</span>
            </span>
            <span class="bet-item">--</span>
        </div>
        <div class="col col-50 bet ok" data-id="4022">
            <span class="bet-content" style="width: 100%">
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-4">4</span>
            </span>
            <span class="bet-item">--</span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="4023">
            <span class="bet-content" style="width: 100%;">
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-5">5</span>
            </span>
            <span class="bet-item">--</span></div>
        <div class="col col-50 bet ok" data-id="4024">
            <span class="bet-content" style="width: 100%;">
                 <span class="round-10 data-4">4</span>
                 <span class="round-10 data-5">5</span>
                <span class="round-10 data-6">6</span>
             </span>
            <span class="bet-item">--</span></div>
    </div>

</ion-content>