<ion-content class="bet-view" scroll="false" data-sid="102" data-limit="2">
	<div class="sub-Navs has-button">
		<div class="row">
			<div class="col sub-col col-50" ng-class="{navActive:curGame.panMode==1}" data-show="1"><a class="item nav-item">号码选择</a></div>
			<div class="col sub-col col-50" ng-class="{navActive:curGame.panMode==2}" data-show="2"><a class="item nav-item">已选号码</a></div>
		</div>
		<div class="nav-content">
			<ion-content class="tp40 bp97" ng-show="curGame.panMode==1">
				<div class="row text-center"><div class="col title-no">二定位</div></div>
				<div class="row">
					<div class="col col-25 qxc-quick-select ok" data-sid="102,0"><div class="bet-content item-select">仟</div></div>
					<div class="col col-25 qxc-quick-select ok" data-sid="102,1"><div class="bet-content item-select">佰</div></div>
					<div class="col col-25 qxc-quick-select ok" data-sid="102,2"><div class="bet-content item-select">拾</div></div>
					<div class="col col-25 qxc-quick-select ok" data-sid="102,3"><div class="bet-content item-select">个</div></div>
				</div>
				<div class="row">
					<div class="col col-25 qxc-bet ok" data-id="102,0,0"><div class="bet-content round-1">0</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,0"><div class="bet-content round-1">0</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,0"><div class="bet-content round-1">0</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,0"><div class="bet-content round-1">0</div></div>
				</div>
				<div class="row">
					<div class="col col-25 qxc-bet ok" data-id="102,0,1"><div class="bet-content round-1">1</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,1"><div class="bet-content round-1">1</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,1"><div class="bet-content round-1">1</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,1"><div class="bet-content round-1">1</div></div>
				</div>
				<div class="row">
					<div class="col col-25 qxc-bet ok" data-id="102,0,2"><div class="bet-content round-1">2</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,2"><div class="bet-content round-1">2</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,2"><div class="bet-content round-1">2</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,2"><div class="bet-content round-1">2</div></div>
				</div>
				<div class="row">
					<div class="col col-25 qxc-bet ok" data-id="102,0,3"><div class="bet-content round-1">3</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,3"><div class="bet-content round-1">3</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,3"><div class="bet-content round-1">3</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,3"><div class="bet-content round-1">3</div></div>
				</div>
				<div class="row">
					<div class="col col-25 qxc-bet ok" data-id="102,0,4"><div class="bet-content round-1">4</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,4"><div class="bet-content round-1">4</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,4"><div class="bet-content round-1">4</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,4"><div class="bet-content round-1">4</div></div>
				</div>
				<div class="row">
					<div class="col col-25 qxc-bet ok" data-id="102,0,5"><div class="bet-content round-1">5</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,5"><div class="bet-content round-1">5</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,5"><div class="bet-content round-1">5</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,5"><div class="bet-content round-1">5</div></div>
				</div>
				<div class="row">
					<div class="col col-25 qxc-bet ok" data-id="102,0,6"><div class="bet-content round-1">6</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,6"><div class="bet-content round-1">6</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,6"><div class="bet-content round-1">6</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,6"><div class="bet-content round-1">6</div></div>
				</div>
				<div class="row">
					<div class="col col-25 qxc-bet ok" data-id="102,0,7"><div class="bet-content round-1">7</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,7"><div class="bet-content round-1">7</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,7"><div class="bet-content round-1">7</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,7"><div class="bet-content round-1">7</div></div>
				</div>
				<div class="row">
					<div class="col col-25 qxc-bet ok" data-id="102,0,8"><div class="bet-content round-1">8</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,8"><div class="bet-content round-1">8</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,8"><div class="bet-content round-1">8</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,8"><div class="bet-content round-1">8</div></div>
				</div>
				<div class="row end">
					<div class="col col-25 qxc-bet ok" data-id="102,0,9"><div class="bet-content round-1">9</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,1,9"><div class="bet-content round-1">9</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,2,9"><div class="bet-content round-1">9</div></div>
					<div class="col col-25 qxc-bet ok" data-id="102,3,9"><div class="bet-content round-1">9</div></div>
				</div>
			</ion-content>
			<ion-content class="tp40 bp40" ng-show="curGame.panMode==2"><div class="qxc-list"></div></ion-content>
		</div>
		<div class="row-button" ng-show="curGame.panMode==1">
			<button class="button button-block button-positive qxc-add-button" ng-disabled="shareData.lotteryState!=1||!betData['qxc-temp']||!betData['qxc-temp'][4]">添加号码</button>
		</div>
		<div class="row text-center tips">
			<div class="col sub-col navActive"><a class="item nav-item">即时赔率：{{shareData.lotteryState==1?curGame.odds['j'+curGame.superId]:'--'}}</a></div>
		</div>
	</div>
</ion-content>