<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">和值</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="201"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="202"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="204"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="205"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col bet ok" data-id="203"><div class="bet-content">和值810</div><div class="bet-item">--</div></div>
	</div>
	<div class="row text-center"><div class="col title">盘位</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="301"><div class="bet-content">上盘</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="302"><div class="bet-content">中盘</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="303"><div class="bet-content">下盘</div><div class="bet-item">--</div></div>
	</div>
	<div class="row end">
		<div class="col col-33 bet ok" data-id="401"><div class="bet-content">奇盘</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="403"><div class="bet-content">偶盘</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="402"><div class="bet-content">和盘</div><div class="bet-item">--</div></div>
	</div>
</ion-content>