<ion-content class="bet-view" scroll="false" data-pan="17" data-min="2" data-max="8">
	<div class="sub-Navs">
		<div class="nav-content">
			<ion-content class="bp40">
				<div class="row text-center"><div class="col title-no">正码1</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1701" data-once="17ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1702" data-once="17ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1703" data-once="17dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1704" data-once="17dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="1705" data-once="17rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1706" data-once="17rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1707" data-once="17rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码2</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1801" data-once="18ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1802" data-once="18ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1803" data-once="18dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1804" data-once="18dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="1805" data-once="18rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1806" data-once="18rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1807" data-once="18rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码3</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1901" data-once="19ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1902" data-once="19ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="1903" data-once="19dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="1904" data-once="19dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="1905" data-once="19rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1906" data-once="19rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="1907" data-once="19rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码4</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="2001" data-once="20ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="2002" data-once="20ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="2003" data-once="20dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="2004" data-once="20dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="2005" data-once="20rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2006" data-once="20rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2007" data-once="20rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码5</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="2101" data-once="21ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="2102" data-once="21ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="2103" data-once="21dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="2104" data-once="21dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="2105" data-once="21rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2106" data-once="21rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2107" data-once="21rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
				<div class="row text-center"><div class="col title-no">正码6</div></div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="2201" data-once="22ds"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="2202" data-once="22ds"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="2203" data-once="22dx"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="2204" data-once="22dx"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row end">
					<div class="col col-33 bet ok" data-id="2205" data-once="22rgb"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2206" data-once="22rgb"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="2207" data-once="22rgb"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
			</ion-content>
		</div>
		<div class="row text-center tips">
			<div class="col sub-col navActive"><a class="item nav-item">{{betData.betContent.length>1?curTips:'请选择过关项目'}}</a></div>
		</div>
	</div>
</ion-content>