<ion-content class="bet-view" scroll="false" data-pan="40" data-min="2" data-max="8">
	<div class="sub-Navs" item-class="col-33">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs">
			<div class="row">
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==40}" data-pan="40" data-min="2" data-max="8"><a class="item nav-item">二肖</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==41}" data-pan="41" data-min="3" data-max="8"><a class="item nav-item">三肖</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==42}" data-pan="42" data-min="4" data-max="8"><a class="item nav-item">四肖</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==43}" data-pan="43" data-min="5" data-max="8"><a class="item nav-item">五肖</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==44}" data-pan="44" data-min="6" data-max="8"><a class="item nav-item">六肖</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==45}" data-pan="45" data-min="7" data-max="8"><a class="item nav-item">七肖</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==46}" data-pan="46" data-min="8" data-max="8"><a class="item nav-item">八肖</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==47}" data-pan="47" data-min="9" data-max="9"><a class="item nav-item">九肖</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==48}" data-pan="48" data-min="10" data-max="10"><a class="item nav-item">十肖</a></div>
				<div class="col sub-col col-33" ng-class="{navActive:curGame.panType==49}" data-pan="49" data-min="11" data-max="11"><a class="item nav-item">十一肖</a></div>
			</div>
		</ion-scroll>
		<div class="nav-content">
			<ion-content class="tp40">
				<div ng-show="curGame.panType==40">
					<div class="row text-center"><div class="col title-no">二肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4001"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4002"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4003"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4004"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4005"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4006"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4007"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4008"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4009"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4010"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4011"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4012"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
				<div ng-show="curGame.panType==41">
					<div class="row text-center"><div class="col title-no">三肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4101"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4102"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4103"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4104"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4105"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4106"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4107"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4108"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4109"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4110"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4111"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4112"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
				<div ng-show="curGame.panType==42">
					<div class="row text-center"><div class="col title-no">四肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4201"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4202"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4203"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4204"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4205"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4206"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4207"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4208"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4209"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4210"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4211"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4212"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
				<div ng-show="curGame.panType==43">
					<div class="row text-center"><div class="col title-no">五肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4301"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4302"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4303"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4304"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4305"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4306"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4307"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4308"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4309"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4310"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4311"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4312"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
				<div ng-show="curGame.panType==44">
					<div class="row text-center"><div class="col title-no">六肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4401"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4402"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4403"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4404"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4405"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4406"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4407"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4408"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4409"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4410"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4411"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4412"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
				<div ng-show="curGame.panType==45">
					<div class="row text-center"><div class="col title-no">七肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4501"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4502"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4503"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4504"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4505"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4506"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4507"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4508"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4509"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4510"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4511"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4512"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
				<div ng-show="curGame.panType==46">
					<div class="row text-center"><div class="col title-no">八肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4601"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4602"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4603"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4604"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4605"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4606"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4607"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4608"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4609"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4610"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4611"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4612"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
				<div ng-show="curGame.panType==47">
					<div class="row text-center"><div class="col title-no">九肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4701"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4702"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4703"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4704"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4705"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4706"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4707"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4708"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4709"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4710"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4711"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4712"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
				<div ng-show="curGame.panType==48">
					<div class="row text-center"><div class="col title-no">十肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4801"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4802"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4803"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4804"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4805"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4806"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4807"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4808"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4809"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4810"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4811"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4812"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
				<div ng-show="curGame.panType==49">
					<div class="row text-center"><div class="col title-no">十一肖</div></div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4901"><div class="bet-content">鼠</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4902"><div class="bet-content">牛</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4903"><div class="bet-content">虎</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4904"><div class="bet-content">兔</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4905"><div class="bet-content">龙</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4906"><div class="bet-content">蛇</div><div class="bet-item">--</div></div>
					</div>
					<div class="row">
						<div class="col col-33 bet ok" data-id="4907"><div class="bet-content">马</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4908"><div class="bet-content">羊</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4909"><div class="bet-content">猴</div><div class="bet-item">--</div></div>
					</div>
					<div class="row end">
						<div class="col col-33 bet ok" data-id="4910"><div class="bet-content">鸡</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4911"><div class="bet-content">狗</div><div class="bet-item">--</div></div>
						<div class="col col-33 bet ok" data-id="4912"><div class="bet-content">猪</div><div class="bet-item">--</div></div>
					</div>
				</div>
			</ion-content>
		</div>
	</div>
</ion-content>