<ion-content class="bet-view" scroll="false" data-pan="1">
	<div class="sub-Navs" item-class="col-50">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs">
			<div class="row">
				<div class="col sub-col col-50" ng-class="{navActive:curGame.panType==1}" data-pan="1"><a class="item nav-item">特A<span class="smallround" ng-class="{'menus-choose':betData['panContent-1'].length>0}"></span></a></div>
				<div class="col sub-col col-50" ng-class="{navActive:curGame.panType==2}" data-pan="2"><a class="item nav-item">特B<span class="smallround" ng-class="{'menus-choose':betData['panContent-2'].length>0}"></span></a></div>
			</div>
		</ion-scroll>
		<div class="nav-content">
			<ion-content class="tp40" ng-show="curGame.panType==1">
				<div class="row text-center"><div class="col title-no">特A</div></div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="101"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="102"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="103"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="104"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="105"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="106"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="107"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="108"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="109"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="110"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="111"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="112"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="113"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="114"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="115"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="116"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="117"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="118"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="119"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="120"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="121"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="122"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="123"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="124"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="125"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="126"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="127"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="128"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="129"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="130"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="131"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="132"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="133"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="134"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="135"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="136"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="137"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="138"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="139"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="140"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="141"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="142"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="143"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="144"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="145"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="146"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="147"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="148"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="149"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="150"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="151"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="152"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="153"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="154"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="155"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="159"><div class="bet-content">家禽</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="160"><div class="bet-content">野兽</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="161"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="162"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="163"><div class="bet-content">大单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="164"><div class="bet-content">小单</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="165"><div class="bet-content">大双</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="166"><div class="bet-content">小双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row end">
					<div class="col col-33 bet ok" data-id="156"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="157"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="158"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
			</ion-content>
			<ion-content class="tp40" ng-show="curGame.panType==2">
				<div class="row text-center"><div class="col title-no">特B</div></div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="201"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="202"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="203"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="204"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="205"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="206"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="207"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="208"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="209"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="210"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="211"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="212"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="213"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="214"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="215"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="216"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="217"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="218"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="219"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="220"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="221"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="222"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="223"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="224"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="225"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="226"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="227"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="228"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="229"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="230"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="231"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="232"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="233"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="234"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="235"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="236"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="237"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="238"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="239"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="240"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="241"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="242"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-33 bet ok" data-id="243"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="244"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="245"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="246"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="247"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="248"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="249"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="250"><div class="bet-content">单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="251"><div class="bet-content">双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="252"><div class="bet-content">大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="253"><div class="bet-content">小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="254"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="255"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="259"><div class="bet-content">家禽</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="260"><div class="bet-content">野兽</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="261"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="262"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="263"><div class="bet-content">大单</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="264"><div class="bet-content">小单</div><div class="bet-item">--</div></div>
				</div>
				<div class="row">
					<div class="col col-50 bet ok" data-id="265"><div class="bet-content">大双</div><div class="bet-item">--</div></div>
					<div class="col col-50 bet ok" data-id="266"><div class="bet-content">小双</div><div class="bet-item">--</div></div>
				</div>
				<div class="row end">
					<div class="col col-33 bet ok" data-id="256"><div class="bet-content">红波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="257"><div class="bet-content">绿波</div><div class="bet-item">--</div></div>
					<div class="col col-33 bet ok" data-id="258"><div class="bet-content">蓝波</div><div class="bet-item">--</div></div>
				</div>
			</ion-content>
		</div>
	</div>
</ion-content>