<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">第一球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="111" data-pane="no1"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="112" data-pane="no1"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="113" data-pane="no1"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="114" data-pane="no1"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>

	<div class="row text-center"><div class="col title">第二球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="211" data-pane="no2"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="212" data-pane="no2"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="213" data-pane="no2"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="214" data-pane="no2"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>

	<div class="row text-center"><div class="col title">第三球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="311" data-pane="no3"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="312" data-pane="no3"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="313" data-pane="no3"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="314" data-pane="no3"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>

	<div class="row text-center"><div class="col title">第四球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="411" data-pane="no4"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="412" data-pane="no4"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="413" data-pane="no4"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="414" data-pane="no4"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>

	<div class="row text-center"><div class="col title">第五球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="511" data-pane="no5"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="512" data-pane="no5"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="513" data-pane="no5"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="514" data-pane="no5"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	
	<div class="row text-center"><div class="col title">总和</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="601" data-pane="all"><div class="bet-content">总和大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="602" data-pane="all"><div class="bet-content">总和小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="603" data-pane="all"><div class="bet-content">总和单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="604" data-pane="all"><div class="bet-content">总和双</div><div class="bet-item">--</div></div>
	</div>
</ion-content>