<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">全五中一</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="701"><div class="bet-content round-1">1</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="702"><div class="bet-content round-1">2</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="703"><div class="bet-content round-1">3</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="704"><div class="bet-content round-1">4</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="705"><div class="bet-content round-1">5</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="706"><div class="bet-content round-1">6</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="707"><div class="bet-content round-1">7</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="708"><div class="bet-content round-1">8</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="709"><div class="bet-content round-1">9</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="710"><div class="bet-content round-1">10</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="711"><div class="bet-content round-1">11</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="712" ><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="713" ><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="714"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="715"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>

</ion-content>