<ion-view class="m-activity" view-title="活动详情">
    <ion-nav-buttons side="left"><a class="button button-icon icon-prepage" ng-click="back()"></a></ion-nav-buttons>
    <ion-content class="has-header">
        <div ng-if="!ansycLoaded" class="padding text-center"><ion-spinner></ion-spinner></div>
        <div ng-if="ansycLoaded" class="detail">
            <img ng-src="{{detail.img}}">
            <div class="title">{{detail.title}}</div>
            <p class="date">{{appConfig.name}}</p>
            <div ng-bind-html="detail.content"></div>
        </div>
    </ion-content>
</ion-view>