<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">总和</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="901" data-pane="zh"><div class="bet-content">总和大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="902" data-pane="zh"><div class="bet-content">总和小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="903" data-pane="zh"><div class="bet-content">总和单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="904" data-pane="zh"><div class="bet-content">总和双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="905" data-pane="zh"><div class="bet-content">总和尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="906" data-pane="zh"><div class="bet-content">总和尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row text-center"><div class="col title">第一球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="121" data-pane="no1"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="122" data-pane="no1"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="123" data-pane="no1"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="124" data-pane="no1"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="125" data-pane="no1"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="126" data-pane="no1"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="127" data-pane="no1"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="128" data-pane="no1"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row text-center"><div class="col title">第二球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="221" data-pane="no2"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="222" data-pane="no2"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="223" data-pane="no2"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="224" data-pane="no2"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="225" data-pane="no2"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="226" data-pane="no2"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="227" data-pane="no2"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="228" data-pane="no2"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row text-center"><div class="col title">第三球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="321" data-pane="no3"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="322" data-pane="no3"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="323" data-pane="no3"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="324" data-pane="no3"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="325" data-pane="no3"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="326" data-pane="no3"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="327" data-pane="no3"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="328" data-pane="no3"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row text-center"><div class="col title">第四球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="421" data-pane="no4"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="422" data-pane="no4"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="423" data-pane="no4"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="424" data-pane="no4"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="425" data-pane="no4"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="426" data-pane="no4"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="427" data-pane="no4"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="428" data-pane="no4"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row text-center"><div class="col title">第五球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="521" data-pane="no5"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="522" data-pane="no5"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="523" data-pane="no5"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="524" data-pane="no5"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="525" data-pane="no5"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="526" data-pane="no5"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="527" data-pane="no5"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="528" data-pane="no5"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row text-center"><div class="col title">第六球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="621" data-pane="no6"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="622" data-pane="no6"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="623" data-pane="no6"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="624" data-pane="no6"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="625" data-pane="no6"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="626" data-pane="no6"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="627" data-pane="no6"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="628" data-pane="no6"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row text-center"><div class="col title">第七球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="721" data-pane="no7"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="722" data-pane="no7"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="723" data-pane="no7"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="724" data-pane="no7"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="725" data-pane="no7"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="726" data-pane="no7"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="727" data-pane="no7"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="728" data-pane="no7"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row text-center"><div class="col title">第八球</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="821" data-pane="no8"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="822" data-pane="no8"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="823" data-pane="no8"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="824" data-pane="no8"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="825" data-pane="no8"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="826" data-pane="no8"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="827" data-pane="no8"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="828" data-pane="no8"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
	</div>
</ion-content>