<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="301"><div class="bet-content round-1">1</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="302"><div class="bet-content round-1">2</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="303"><div class="bet-content round-1">3</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="304"><div class="bet-content round-1">4</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="305"><div class="bet-content round-1">5</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="306"><div class="bet-content round-1">6</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="307"><div class="bet-content round-1">7</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="308"><div class="bet-content round-1">8</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="309"><div class="bet-content round-1">9</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="310"><div class="bet-content round-1">10</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="311"><div class="bet-content round-1">11</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="312"><div class="bet-content round-1">12</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="313"><div class="bet-content round-1">13</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="314"><div class="bet-content round-1">14</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="315"><div class="bet-content round-1">15</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="316"><div class="bet-content round-1">16</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="317"><div class="bet-content round-1">17</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="318"><div class="bet-content round-1">18</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="319"><span class="bet-content round-1">19</span> <span class="bet-item">--</span></div>
		<div class="col col-50 bet ok" data-id="320"><span class="bet-content round-1">20</span> <span class="bet-item">--</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="321" data-pane="lm"><div class="bet-content">大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="322" data-pane="lm"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="323" data-pane="lm"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="324" data-pane="lm"><div class="bet-content">双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="325" data-pane="lm"><div class="bet-content">尾大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="326" data-pane="lm"><div class="bet-content">尾小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="327" data-pane="lm"><div class="bet-content">合单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="328" data-pane="lm"><div class="bet-content">合双</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="329"><div class="bet-content">东</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="330"><div class="bet-content">南</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="331"><div class="bet-content">西</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="332"><div class="bet-content">北</div><div class="bet-item">--</div></div>
	</div>
	<div class="row end">
		<div class="col col-33 bet ok" data-id="333"><div class="bet-content">中</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="334"><div class="bet-content">发</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="335"><div class="bet-content">白</div><div class="bet-item">--</div></div>
	</div>
</ion-content>