<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">冠、亚军和</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="118" data-pane="lm"><div class="bet-content">冠亚大</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="119" data-pane="lm"><div class="bet-content">冠亚小</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="120" data-pane="lm"><div class="bet-content">冠亚单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="121" data-pane="lm"><div class="bet-content">冠亚双</div><div class="bet-item">--</div></div>
	</div>

	<div class="row">
		<div class="col col-33 bet ok" data-id="101"><div class="bet-content">3</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="102"><div class="bet-content">4</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="103"><div class="bet-content">5</div><div class="bet-item">--</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="104"><div class="bet-content">6</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="105"><div class="bet-content">7</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="106"><div class="bet-content">8</div><div class="bet-item">--</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="107"><div class="bet-content">9</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="108"><div class="bet-content">10</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="109"><div class="bet-content">11</div><div class="bet-item">--</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="110"><div class="bet-content">12</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="111"><div class="bet-content">13</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="112"><div class="bet-content">14</div><div class="bet-item">--</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="113"><div class="bet-content">15</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="114"><div class="bet-content">16</div><div class="bet-item">--</div></div>
		<div class="col col-33 bet ok" data-id="115"><div class="bet-content">17</div><div class="bet-item">--</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="116"><div class="bet-content">18</div><div class="bet-item">42.3</div></div>
		<div class="col col-50 bet ok" data-id="117"><div class="bet-content">19</div><div class="bet-item">42.3</div></div>
	</div>
</ion-content>