<ion-view class="m-center" view-title="个人中心">
	<ion-nav-buttons side="left"><a class="button button-icon icon-homehover" href="#/home"></a></ion-nav-buttons>
	<ion-nav-buttons side="right"><a class="button ry-button" ng-click="logout();">退出</a></ion-nav-buttons>

	<ion-content>
		<div class="row top-info">
			<div class="col col-33">
				<img class="avatar" src="./images/avatar.png">
			</div>
			<div class="col col-66" style="margin: auto 0">
				<h5>
                    <span>{{My.sayhello()}}&nbsp;&nbsp;{{My.getUserName()}}</span>
                    <span ng-show="My.getAgent()" class="agent-box">代理</span>
                </h5>
				<p>
					用户余额：<span ng-show="My.loaded"><span class="money">{{My.getMoney()}}</span>RMB</span>
                    <span class="money" ng-show="!My.loaded"><ion-spinner></ion-spinner></span>
					<a class="refresh" ng-click="My.refreshMoney(!1);" ng-show="My.loaded"><img src="./images/icon-refresh.png"></a>
				</p>
				<p class="ng-hide">
					会员等级：<span>普通会员</span>
				</p>
			</div>
		</div>
		<div class="center-list">
			<div class="row">
				<div class="col col-33">
					<a href="#/ucenter/myinfo"><img src="./images/menu-profile.png"><p>个人资料</p>
				</div>
				<div class="col col-33">
					<a href="#/ucenter/mypwd"><img src="./images/menu-modifypwd.png"><p>更改密码</p></a>
				</div>
				<div class="col col-33">
					<a href="#/ucenter/notice" class="relative"><img src="./images/menu-message.png">
					<span ng-if="My.userMsg>0" class="notify ng-binding">{{My.userMsg>99?'99+':My.userMsg}}</span>
					<p>信息中心</p></a>
				</div>
			</div>
			<div class="row">
				<div class="col col-33">
					<a href="#/bank/money"><img src="./images/menu-funds.png"><p>资金管理</p></a>
				</div>
				<div class="col col-33">
					<a href="#/ucenter/transfer"><img src="./images/menu-transfer.png"><p>额度转换</p></a>
				</div>
				<div class="col col-33">
					<a href="#/bank/list"><img src="./images/menu-bankaccount.png"><p>银行账号</p></a>
				</div>
			</div>
			<div class="row">
				<div class="col col-33">
					<a href="#/report/index"><img src="./images/menu-record.png"><p>投注记录</p></a>
				</div>
				<div class="col col-33">
					<a ng-href="{{appConfig.serviceUrl}}" target="_blank"><img src="./images/menu-service.png"><p>在线客服</p></a>
				</div>
                <div class="col col-33">
                    <a href="#/activity/index"><img src="./images/menu-activity.png"><p>优惠活动</p></a>
                </div>
			</div>
		</div>
	</ion-content>
</ion-view>