<ion-view view-title="两面长龙" class="chang-long">
	<ion-nav-buttons side="left"><a class="button button-icon icon-prepage" ng-click="back();"></a></ion-nav-buttons>
	<ion-content scroll="false">
		<!-- <div class="selectLottery item-select">
			<select ng-model="queryData.gameId" ng-options="gameId as game.name for (gameId, game) in gameList" ng-change="onQuery()" class="disable-user-behavior"></select>
		</div> -->
		<div class="row no-title text-center">
			<div class="col col-50 radiu">彩种</div>
			<div class="col col-50 radiu">期数</div>
		</div>
		<ion-content class="list">
			<ion-refresher ng-if="ansycLoaded" pulling-text="下拉刷新" on-refresh="refresh()"></ion-refresher>
			<div ng-repeat="data in curStatList" class="row text-center">
				<div class="col-50 tal tip"><div>{{data[0]}}</div></div>
				<div class="col-50 tal tip"><div>{{data[1]}}</div></div>
			</div>
			<div ng-if="!ansycLoaded" class="spinner-warp"><ion-spinner class="spinner spinner-ios"></ion-spinner></div>
		</ion-content>
	</ion-content>
</ion-view>