<ion-content class="bet-view">
    <div class="row text-center">
        <div class="col title-no">二同号单选</div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="3021">
            <div class="bet-content">
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-2">2</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3022">
            <div class="bet-content">
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-3">3</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3023">
            <div class="bet-content">
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-4">4</span>
            </div>
            <span class="bet-item">--</span>
        </div>
    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="3024">
            <div class="bet-content">
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-5">5</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3025">
            <div class="bet-content">
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-1">1</span>
                <span class="round-10 data-6">6</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3026">
            <div class="bet-content">
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-1">1</span>
            </div>
            <span class="bet-item">--</span>
        </div>

    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="3027">
            <div class="bet-content">
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-3">3</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3028">
            <div class="bet-content">
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-4">4</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3029">
            <div class="bet-content">
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-5">5</span>
            </div>
            <span class="bet-item">--</span>
        </div>
    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="3030">
            <div class="bet-content">
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-2">2</span>
                <span class="round-10 data-6">6</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3031">
            <div class="bet-content">
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-1">1</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3032">
            <div class="bet-content">
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-2">2</span>
            </div>
            <span class="bet-item">--</span>
        </div>

    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="3033">
            <div class="bet-content">
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-4">4</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3034">
            <div class="bet-content">
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-5">5</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3035">
            <div class="bet-content">
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-3">3</span>
                <span class="round-10 data-6">6</span>
            </div>
            <span class="bet-item">--</span>
        </div>

    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="3036">
            <div class="bet-content">
                <span class="round-10 data-4">2</span>
                <span class="round-10 data-4">2</span>
                <span class="round-10 data-1">3</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3037">
            <div class="bet-content">
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-2">2</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3038">
            <div class="bet-content">
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-3">3</span>
            </div>
            <span class="bet-item">--</span>
        </div>

    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="3039">
            <div class="bet-content">
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-5">5</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3040">
            <div class="bet-content">
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-4">4</span>
                <span class="round-10 data-6">6</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3041">
            <div class="bet-content">
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-1">1</span>
            </div>
            <span class="bet-item">--</span>
        </div>

    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="3042">
            <div class="bet-content">
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-2">2</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3043">
            <div class="bet-content">
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-3">3</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3044">
            <div class="bet-content">
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-4">4</span>
            </div>
            <span class="bet-item">--</span>
        </div>

    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="3045">
            <div class="bet-content">
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-5">5</span>
                <span class="round-10 data-6">6</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3046">
            <div class="bet-content">
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-1">1</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3047">
            <div class="bet-content">
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-2">2</span>
            </div>
            <span class="bet-item">--</span>
        </div>

    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="3048">
            <div class="bet-content">
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-3">3</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3049">
            <div class="bet-content">
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-4">4</span>
            </div>
            <span class="bet-item">--</span></div>
        <div class="col col-33 bet ok" data-id="3050">
            <div class="bet-content">
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-6">6</span>
                <span class="round-10 data-5">5</span>
            </div>
            <span class="bet-item">--</span>
        </div>

    </div>

</ion-content>