<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第九名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="1001"><div class="bet-content round-7 radiusball data-1">1</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="1002"><div class="bet-content round-7 radiusball data-2">2</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="1003"><div class="bet-content round-7 radiusball data-3">3</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="1004"><div class="bet-content round-7 radiusball data-4">4</div><div class="bet-item">--</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1005"><div class="bet-content round-7 radiusball data-5">5</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="1006"><div class="bet-content round-7 radiusball data-6">6</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="1007"><div class="bet-content round-7 radiusball data-7">7</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="1008"><div class="bet-content round-7 radiusball data-8">8</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="1009"><div class="bet-content round-7 radiusball data-9">9</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="1010"><div class="bet-content round-7 radiusball data-10">10</div><div class="bet-item">--</div></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="1011" data-pane="lm"><div class="bet-content">单</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="1012" data-pane="lm"><div class="bet-content">大</div><div class="bet-item">--</div></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1013" data-pane="lm"><div class="bet-content">双</div><div class="bet-item">--</div></div>
		<div class="col col-50 bet ok" data-id="1014" data-pane="lm"><div class="bet-content">小</div><div class="bet-item">--</div></div>
	</div>
</ion-content>