<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">和值</div></div>

    <div class="row">
        <div class="col col-24 bet ok" data-id="101" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">3</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="102" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">4</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="103" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">5</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="104" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">6</div> <span class="bet-item">--</span></div>
    </div>

    <div class="row">
        <div class="col col-24 bet ok" data-id="105" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">7</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="106" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">8</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="107" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">9</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="108" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">10</div> <span class="bet-item">--</span></div>
    </div>
    <div class="row">
        <div class="col col-24 bet ok" data-id="109" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">11</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="110" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">12</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="111" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">13</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="112" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">14</div> <span class="bet-item">--</span></div>
   </div>
    <div class="row">
        <div class="col col-24 bet ok" data-id="113" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">15</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="114" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">16</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="115" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">17</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="116" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">18</div> <span class="bet-item">--</span></div>
     </div>
    <div class="row">
        <div class="col col-24 bet ok" data-id="117" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">大</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="118" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">小</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="119" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">单</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="120" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">双</div> <span class="bet-item">--</span></div>
    </div>
    <div class="row end">
        <div class="col col-24 bet ok" data-id="121" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">大单</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="122" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">大双</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="123" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">小单</div> <span class="bet-item">--</span></div>
        <div class="col col-24 bet ok" data-id="124" style="border: solid rgba(255,255,255,.04);margin:5px 5px 0 0"><div class="bet-content" style="line-height:.0rem">小双</div> <span class="bet-item">--</span></div>
    </div>

</ion-content>